<div class="details">

  <p><%= image_tag @menu.food.photo_url, class: 'pull-right' %></p>

  <p><strong>Name: </strong>
    <%= @menu.food.name %>
  </p>

  <p><strong>Food Comments:</strong> <%= @menu.food.comments %></p>

</div>
