<div class="details">

  <p><%= image_tag @food.photo_url, class: 'pull-right' %></p>

  <p><strong>Name: </strong>
    <%= @food.name %>
  </p>

  <p><strong>Comments:</strong> <%= @food.comments %></p>

</div>
